<!doctype html>
<html>
    <title>Folk.AI- Classify India's Folk Dances</title>
    <style>
    body,h1,h2 {font-family: sans-serif; color:white;}
    body, html {height: 100%}
    h3 {text-align: center; color: burlywood;}
    form {color:white; align-items: center;}
    </style>
    <h1>
    Folk.AI
    </h1>
    <h2>Classify Between Chhau and Kathakali, Two Classical Dance Forms of India Using Artificial Intelligence</h2>
    <h3>
        by <a href="https://ghosh-r.github.io/">Ritobrata Ghosh</a>
    </h3>
    <body style="background-image: url('https://images.unsplash.com/photo-1479812627010-aa5bd9d173b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1380&q=80'); background-size: cover; margin-left: 5%;">
        <br>
        <br>
        <form action="/" method="POST" enctype=multipart/form-data>
            <input type="file" name="image">
            <br>
            <input type="submit" value="Predict" >
            <br>
        </form>
    </body>
</html>
