<!DOCTYPE html>
<title>Folk.AI- Classify India's Folk Dances</title>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <style>
    body,h2 {font-family: sans-serif; color:white;}
    h1 {font-family: 'Alfa Slab One'; color:white;}
    body, html {height: 100%}
    h3 {text-align: center; color: burlywood;}
    form {color:white;}
    p {color: rgb(251, 255, 0); font-weight: bolder;}
    </style>
    <h1>
    folk.ai
    </h1>
    <h2>Classify Between Chhau and Kathakali, Two Classical Dance Forms of India Using Artificial Intelligence</h2>
    <h3>
        by <a href="https://ghosh-r.github.io/">Ritobrata Ghosh</a>
    </h3>
    <body style="background-image: url('https://images.unsplash.com/photo-1479812627010-aa5bd9d173b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1380&q=80'); background-size: cover; margin-left: 5%;">
    <h2>Results</h2>
    <h2>Prediction: {{ output }}</h2>
    <br>
    <br>
    <p class="direction">Use the "back" button of your browser <br>to upload another image to get prediction.</p>
    <div>Copyright- Ritobrata Ghosh 2020</div>
    </body>
</html>
